<html>

<head>
    <title>my web</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body style="background-color: darkgrey;">

    <div class="container" style="padding-left: 0px;">
        <div class="row">
            <div class="col-md-4" style="width: 300px;height: 300px;margin: 3">

            </div>
            <div class="col-md-4" style="width: 300px;height: 300px;margin: 3;">
                <i class="glyphicon glyphicon-heart" style="font-size: 500px;color: crimson;"></i>
                <p style="font-size: 100px;">wellcome to this site</p>

            </div>
            <div class="col-md-4" style="width: 300px;height: 300px;margin: 3;">

            </div>
        </div>
</body>


</html>